
// COLORS

$color-primary: #a7dadc;

$color-secondary: #31587a;

$color-Thirdy : #77abbd;

$color-fourth : #243B5C;

$bg-color: #E3E7EB;

$white-color : #fff;

$drak-color : #050505;


// FONT VARIABLES
$font-primary: Poppins, sans-serif;


//BOX SHADOW

$box-shadow : 0 7px 30px -10px rgba(150,170,180,0.5);
$box-shadow-1 :  0px 10px 15px -3px rgba(0,0,0,0.1);
$box-shadow-2 :  0 5px 10px rgba($color: #000000, $alpha: .2);
